Добрый день! Задача: "<%= @issue.subject %>" выполнена.

<% if @issue.start_date? && @issue.due_date? && (@issue.disabled_core_fields & %w(start_date due_date)).empty? %>
Плановая дата начала выполнения: <%= format_date(@issue.start_date) %>
Плановый срок выполнения: <%= format_date(@issue.due_date) %></p>
<% end %>

